# Correct contributor email mapping
# Format: <correct name> <correct email> <old name> <old email>

hul <hl3w22bupt@gmail.com> leo <leo@leodeMac-Studio.local>
hul <hl3w22bupt@gmail.com> leo <leo@leodeMacBook-Pro.local>
